<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Categoria</title>
    <link rel="stylesheet" href="styles.css">
</head>
<bodypro>
    <div class="containerpro">
        <h1pro>Cadastro de Produto</h1pro>
        <form action="/Categoria/Cadastro" method="post">


            <div class="form-grouppro">
                <labelpro for="descricao">Descrição:</labelpro>
                <input type="text" id="descricao" name="descricao" required>
            </div>

            <div class="buttonspro">
                <button type="submit" class="btnpro salvarpro">Salvar</button>
                <button type="button" class="btnpro voltarpro" onclick="window.location.href='index.html';">Voltar</button>
            </div>
        </form>
    </div>
</bodypro>
</html>