

    <div class="containercatcre">
        <h1 class="h1catcre">Cadastro de Produto</h1>
        <form action="/Categoria/Cadastro" method="post">
            <div class="form-groupcatcre">
                <label class="labelcatcre" for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required />
            </div>
            <div class="form-buttonscatcre">
                <button type="submit" class="btncatcre savecatcre">Salvar</button>
                <button type="button" class="btncatcre backcatcre" onclick="window.location.href='/Categoria'">Voltar</button>
            </div>
        </form>
    </div>

