<div id="container" class="containerCategoria">
    <div class="container1Categoria">
        <div>
            <a class="btn btn-success" href="/Categoria/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
   
    <div class="container2Categoria">
        <table class="TableContainerCategoria">
            <thead class="theadCategoria">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>

            <tbody>

                @if (ViewBag.Categoria != null){
                @foreach (var item in ViewBag.Categoria )
                {
                    <tr>
                        <td class="tdCategoria">@item.codigo</td>
                        <td class="tdCategoria">@item.descricao</td>
                        <td class="tdCategoria">
                            <div class="IconesContainerCategoria">
                                <img class="imagenslixo" src="/Imagens/trash.svg" alt="Excluir" />
                                <img class="imagenseditar" src="/Imagens/pencil-square.svg" alt="Editar" />
                            </div>
                        </td>
                    </tr>
               
                }
                }
            </tbody>

        
        </table>
    </div>
   
</div>

