<div id="container" class="containerCategoria">
    <div class="container1Categoria">
        <div>
            <button class="btnCategoria">
                Novo
            </button>
            <button class="btnCategoria BtnAzulColorCategoria">
                Voltar
            </button>
        </div>
    </div>
   
    <div class="container2Categoria">
        <table class="TableContainerCategoria">
            <thead class="theadCategoria">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>

            <tbody>
           
                @if (ViewBag.Categoria != null)
                {
                    <tr>
                        <td class="tdCategoria">codigo</td>
                        <td class="tdCategoria">descricao</td>
                        <td class="tdCategoria">
                            <div class="IconesContainerCategoria">
                                <img class="imagenslixo" src="/Imagens/trash.svg" alt="Excluir" />
                                <div class="Icone2Categoria">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
   
</div>

