.containerCategoria {
    width: 100%;
    max-width: 900px;
    margin: 50px auto 0 auto; /* Centraliza e dá espaço do topo */
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    border: 3px solid #3d9090;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container1Categoria {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container2Categoria {
    width: 100%;
    overflow-x: auto;
}

.container3Categoria {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão */
.btnCategoria {
    padding: 10px 20px;
    background-color: #3d9090;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btnCategoria:hover {
        background-color: #2a6262;
    }

.BtnAzulColorCategoria {
    background-color: cyan !important;
}

.btnCategoriaV {
    padding: 10px 20px;
    background-color: #ff0000;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btnCategoriaV:hover {
        background-color: #ff6a00;
    }

/* Tabela */
.TableContainerCategoria {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    background-color: white;
}

    .TableContainerCategoria th,
    .TableContainerCategoria td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

.theadCategoria {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Células */
.tdCategoria {
    color: black;
    background-color: white;
}

/* Ícones */
.IconesContainerCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Icone1Categoria,
.Icone2Categoria {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-btn,
.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    transition: background-color 0.2s;
}

    .trash-btn:hover,
    .edit-button:hover {
        background-color: #b6ff00;
        border-radius: 5px;
    }

/* Ícone específico */
.fas.fa-edit,
.fas.fa-trash {
    pointer-events: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .containerCategoria {
        width: 90%;
        padding: 1rem;
    }

    .TableContainerCategoria {
        font-size: 13px;
    }
}
