.containerEnt {
    width: 100%;
    max-width: 900px;
    margin: 50px auto 0 auto; /* CEntraliza e dá espaço do topo */
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    border: 3px solid #3d9090;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container1Ent {
    display: flex;
    align-items: cEnter;
    justify-contEnt: flex-start;
}

.container2Ent {
    width: 100%;
    overflow-x: auto;
}

.container3Ent {
    display: flex;
    justify-contEnt: cEnter;
    align-items: cEnter;
}

/* Botão */
.btnEnt {
    padding: 10px 20px;
    background-color: #3d9090;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btnEnt:hover {
        background-color: #2a6262;
    }

.BtnAzulColorEnt {
    background-color: cyan !important;
}

/* Tabela */
.TableContainerEnt {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    background-color: white;
}

    .TableContainerEnt th,
    .TableContainerEnt td {
        border: 1px solid black;
        padding: 10px;
        text-align: cEnter;
    }

.theadEnt {
    background-color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Células */
.tdEnt {
    color: black;
    background-color: white;
}

/* Ícones */
.IconesContainerEnt {
    display: flex;
    justify-contEnt: cEnter;
    align-items: cEnter;
    gap: 1rem;
}

.Icone1Ent,
.Icone2Ent {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-contEnt: cEnter;
    align-items: cEnter;
}

.trash-btn,
.edit-button {
    background-color: transparEnt;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    transition: background-color 0.2s;
}

    .trash-btn:hover,
    .edit-button:hover {
        background-color: #b6ff00;
        border-radius: 5px;
    }

/* Ícone específico */
.fas.fa-edit,
.fas.fa-trash {
    pointer-evEnts: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .containerEnt {
        width: 90%;
        padding: 1rem;
    }

    .TableContainerEnt {
        font-size: 13px;
    }
}
