.containerpro {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 10px solid #3d9090;
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0 auto; /* margem superior de 50px e centralização horizontal */
}

.h1pro {
    text-align: center;
    margin-bottom: 25px;
    color: #3d9090;
    font-weight: 700;
    font-size: 28px;
}

.form-grouppro {
    margin-bottom: 20px;
}

.labelpro {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

    input[type="text"]:focus {
        border-color: #3d9090;
        outline: none;
    }

.form-buttonspro {
    display: flex;
    justify-content: space-between;
}

.btnpro {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.savepro {
    background-color: #3d9090;
    color: white;
}

    .savepro:hover {
        background-color: #2a6262;
    }

.backpro {
    background-color: #f44336;
    color: white;
}

    .backpro:hover {
        background-color: #ba3124;
    }
