html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.conteudo {
    flex-grow: 1; /* para crescer e ocupar o espaço disponível */
    width: 100%;
}

.centralizado {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-cheia {
    height: 100vh; /* altura total da viewport */
    width: 100vw; /* largura total da viewport */
    display: flex;
    flex-direction: column; /* ou row, depende do layout */
    /* para o conteúdo crescer e preencher */
    justify-content: stretch;
    align-items: stretch;
    background-color: #f4f4f4;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #3d9090;
    height: 50px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}

.loginlogoff {
    background-color: #81110b;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

    .loginlogoff:hover {
        background-color: yellow;
        color: black;
    }


.painel-home {
    text-align: center;
    padding: 30px;
}

.subtitulo {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.atalhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.card-atalho {
    background-color: #3d9090;
    color: white;
    text-decoration: none;
    width: 140px;
    height: 120px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

    .card-atalho i {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card-atalho:hover {
        background-color: #1b5a5a;
        cursor: pointer;
    }

.indicadores {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.indicador {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    .indicador h4 {
        margin-bottom: 10px;
        color: #3d9090;
    }

