@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Cadastro Fornecedor</h1>

<form method=" post" action="/Fornecedor/Cadastrar">
    <div class="mb-3">
        <label for=" nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id=" nome" name=" nome" maxlength="50">
    </div>
    

    <button class="btn btn-primary"> Voltar</button>
    <button type="submit" class="btn btn-primary"> Salvar</button>

</form>