@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Cadastro Fornecedor</h1>

<form method="post" action="/Fornecedor/Cadastrar">
    <div class="mb-3">
        <label for="nomefornecedor" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nomefornecedor" name="nomefornecedor" maxlength="50">
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="endereco" maxlength="15">
    </div>

    <div class="mb-3">
        <label for="estado" class="form-label">Estado(Sigla)</label>
        <select class="form-select" aria-label="Small select example" name="estado">
            <option selected>Selecione</option>
            <option value="1">SE</option>
            <option value="2">SP</option>
            <option value="3">BA</option>
            <option value="4">RJ</option>
            <option value="5">MG</option>

        </select>
    </div>
    <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" maxlength="50">
    </div>
    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" maxlength="50">
    </div>
    <div>
        <label for="CNPJ" class="form-label">CNPJ</label>
        <input type="text" class="form-control" id="CNPJ" name="CNPJ" maxlength="18">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="telefone" maxlength="15">
    </div>
    

    <button class="btn btn-primary">Voltar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>

</form>