@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Saida</title>
    <link rel="stylesheet" href="style.css">
</head>
<bodycatcre>

    <div class="containercatcre">
        <h1catcre>Cadastro de Saida</h1catcre>
        <form action="/saida/Cadastro" method="post">


            <div class="form-groupcatcre">
                <label for="dataSaida">Data da Saida:</label>
                <input type="datetime-local" id="dataSaida" name="dataSaida" required>
            </div>

            <div class="form-groupcatcre">
                <label for="codigoSecretaria">Codigo da Secretaria:</label>
                <input type="number" id="codigoSecretaria" name="codigoSecretria" required>
            </div>

            <div class="form-groupcatcre">
                <label for="observacao">Observação:</label>
                <input type="text" id="observacao" name="observacao" required>
            </div>

            <div class="form-buttonscatcre">
                <button type="submit" class="btncatcre savecatcre">Salvar</button>
                <button type="button" class="btncatcre backcatcre" onclick="window.history.back();">Voltar</button>
            </div>
        </form>
    </div>

</bodycatcre>
</html>