<div id="container" class="containerSaida">
    <div class="container1Saida">
        <div>
            <a class="btn btn-success" href="/Saida/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
    <div class="container2Saida">
        <table class="TableContainerSaida">
            <thead class="theadSaida">
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Quantidade Atual</th>
                    <th>Quantidade de Saída</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Saida != null){
                @foreach (var item in ViewBag.Saida)
                {
                    <tr>
                        <td class="tdSaida">@item.codigo</td>
                        <td class="tdSaida">@item.descricao</td>
                        <td class="tdSaida">@item.Quantidadeatual</td>
                        <td class="tdSaida">@item.QuantidadedeSaida</td>
                        <td class="tdSaida">
                           
                        </td>
                    </tr>

                }
                }
            </tbody>


        </table>
    </div>
    <div class="container3Saida">
        <div>
            
        </div>
    </div>
</div>

