<div id="container" class="containerEntrada">
    <div class="container1Entrada">
        <div>
            <a class="btn btn-success" href="/Entrada/Create"> Novo</a>
            <a class="btn btn-primary" href="https://localhost:7215/"> Voltar</a>
        </div>
    </div>
    <div class="container2Entrada">
        <table class="TableContainerEntrada">
            <thead class="theadEntrada">
            <th>
                Código
            </th>
            <th>
                descrição
            </th>
            <th>
                QUANTIDADEATUAL
            </th>
            <th>
                DATAENTRADA
            </th>
            </thead>
            <tbody>
                
               @if (ViewBag.Categoria != null){
                @foreach (var item in ViewBag.Entrada)
                {
                    <tr>
                        <td class="tdEntrada">@item.codigo</td>
                        <td class="tdEntrada">@item.descricao</td>
                        <td class="tdEntrada">@item.quantidadeatual</td>
                        <td class="tdEntrada">@item.dataentrada</td>
                       
                    </tr>

                
                }
               }
                
            </tbody>


        </table>
    </div>
    <div class="container3Entrada">
        <div>
            
        </div>
    </div>
</div>

