<div class="cabecalho">
    <div class="logo">
        <img src="/images/logo.png" alt="Logo" height="35" />
        <span class="nome-empresa">Almoxarifado Central</span>
    </div>
    <div class="perfil">
        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

        <span class="pessoa">@HttpContextAccessor.HttpContext.Session.GetString("UsuarioLogado")</span>
        <button class="loginlogoff" onclick="location.href='/'">Logoff</button>
    </div>
</div>

    <div class="containerpro">
        <h1pro>Cadastro de Produto</h1pro>
        <form action="/Produto/Cadastro" method="post">
            

            <div class="form-grouppro">
                <labelpro for="descricao">Descrição:</labelpro>
                <input type="text" id="descricao" name="descricao" required>
            </div>

            <div class="form-grouppro">
                <labelpro for="preco">Preço:</labelpro>
                <input type="text" id="preco" name="preco" pattern="^\d+(,|\.)?\d{0,2}$" required>

            </div>

            <div class="form-grouppro">
                <labelpro for="unidadeMedida">Unidade de Medida:</labelpro>
                <input type="text" id="unidadeMedida" name="unidadeMedida" required>
            </div>
            <div class="form-grouppro">
                <labelpro for="estoqueAtual">Estoque Atual:</labelpro>
                <input type="number" id="estoqueAtual" name="estoqueAtual" required>
            </div>

            <div class="form-grouppro">
                <labelpro for="permanente">Permanente:</labelpro>
                <select id="epermanente" name="epermanente" required>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

            <div class="form-group">
                <label for="codigoCategoria">Código da Categoria:</label>
                <input type="text" id="codigoCategoria" name="codigoCategoria" required>
            </div>

            <div class="buttonspro">
            <button type="submit" class="btncatcre savepro">Salvar</button>
            <button type="button" class="btncatcre backpro" onclick="window.location.href='/Produto'">Voltar</button>
            </div>
        </form>
    </div>



