@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Cadastro Secretaria</h1>

<form method=" post" action="/Secretaria/Cadastrar">
    <div class="mb-3">
        <label for=" nomesec" class="form-label">Nome</label>
        <input type="text" class="form-control" id=" nomesec" name=" nomesec" maxlength="100">
        <label for=" enderecosec" class="form-label">Endereço</label>
        <input type="text" class="form-control" id=" enderecosec" name=" enderecosec" maxlength="100">
    </div>
    <div class="mb-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id=" bairro" name=" bairro" maxlength="100">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id=" cidade" name=" cidade" maxlength="100">
     <div />
        <div class="mb-3">
            <label for=" estado" class="form-label">Estado(Sigla)</label>
            <input type="text" class="form-control" id=" estado" name=" estado" maxlength="2">
            <label for=" telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id=" telefone" name=" telefone" maxlength="15">
            <label for=" CNPJ" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id=" CNPJ" name="CNPJ" maxlength="18">
        </div>



        <button class="btn btn-primary"> Voltar</button>
        <button type="submit" class="btn btn-primary"> Salvar</button>

</form>