
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" method="post">
            <input type="text" name="username" placeholder="Nome de Usuário ou Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="submit" class="loginlogoff" value="Entrar">
        </form>
        <div class="link">
            <a href="#">Criar conta</a> /
            <a href="#">Esqueceu a senha?</a>
        </div>
    </div>

