
    @model AlmoxafiradoFront.Models.LoginViewModel

<div class="centralizado">
    <div class="login-container">
        <h2>Login</h2>

        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger">@ViewBag.Erro</div>
        }

        <form asp-action="Login" method="post">
            <input type="text" asp-for="NomeUsuario" placeholder="Nome de Usuário ou Email" required />
            <input type="password" asp-for="Senha" placeholder="Senha" required />
            <input type="submit" class="login" value="Entrar" />
        </form>

        <div class="link">
            <a href="/Home/Create">Criar conta</a> /
            <a href="#">Esqueceu a senha?</a>
        </div>
    </div>
</div>
